<h2 mat-dialog-title>Create history note</h2>
<mat-dialog-content>
  <form (submit)="saveMessage()">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">History message</label>
      <textarea style="width: 100%;" class="form-control custom-textarea custom-input-area" 
        rows="3" [(ngModel)]="message!.messageText"
        [ngModelOptions]="{ standalone: true }">
      </textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Note</label>
      <input type="text" class="form-control custom-input-area" [(ngModel)]="message!.note"
      [ngModelOptions]="{ standalone: true }">
    </div>

    <div class="mb-3" style="display: flex;">
      <div >
        <label for="exampleFormControlInput1" class="form-label">Category</label>
        <select class="form-select custom-input-area" aria-label="Default select example" 
          (change)="chooseTagNames($event)">
          <option selected disabled>{{initiallyTagName}}</option>
          <option value="CLIENT">CLIENT</option>
          <option  value="CASH">CASH</option>
          <option value="PROVIDERS">PROVIDERS</option>
          <option value="ADMINISTRATION">ADMINISTRATION</option>
          <option value="STATISTIC">STATISTIC</option>
          <option value="STATISTIC">EMPTY</option>
        </select>
      </div>
      <div style="margin-left: 20px;">
        <label for="exampleFormControlInput1" class="form-label">Entity</label>
        <select class="form-select custom-input-area" aria-label="Default select example" 
          (change)="chooseEntity($event)">
          <option selected>{{initiallyEntityName}}</option>
          <option *ngFor="let tag of filteredHistoryTags" value="{{tag.entityId}}"
            >{{tag.entityName}}</option>
        </select>
      </div>
    </div>

    <div style="display: flex; margin: 15px;" >
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" style="margin-bottom: 7px;"
        [(ngModel)]="message!.isImportant" [ngModelOptions]="{ standalone: true }">
        <label class="form-check-label">Import</label>
      </div>
      <div class="form-check form-switch" style="display: flex; margin-left: 20px;">
        <input class="form-check-input" type="checkbox" role="switch"
        [(ngModel)]="message!.isDone" style="margin-bottom: 7px;" [ngModelOptions]="{ standalone: true }">
        <label class="form-check-label">Done</label>
      </div>
    </div>
    <mat-form-field style="background-color: rgba(165, 165, 165, 0.1);">
      <input matInput [matDatepicker]="picker" placeholder="Select Date " 
      (dateChange)="updateDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button type="submit" style="margin: 5px 15px;" class="btn btn-primary">Submit</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>