
<div class="general">

    <!-- <head> -->
        <div class="logo-container" style="margin-bottom: 3px;">

            <button style="background-color: transparent; border: none;"
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/home'">
                <img src="assets\images\LOGO.png" width="40px" />
            </button>

            <p class="colorful-text" style="margin-top: 9px; margin-bottom: 3px;">alfanamestaj.rs</p>
        </div>
    <!-- </head> -->

    <div class="separator"></div>

    <div class="d-flex justify-content-between align-items-center gap-1">
        <div class="dropdown" >
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" id="byCategotyCheckBox"
                        [disabled]="activeHistoryTag.tagName?.length==0 || activeHistoryTag.tagName==undefined"
                        [(ngModel)]="filterParameters.byCategory" [ngModelOptions]="{ standalone: true }"
                        (change)="filterMethodHistory()">
                        <label class="form-check-label" for="byCategotyCheckBox">Active category</label>
                    </div>
                </li>
                <li>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" id="byIdCheckBox"
                        [disabled]="activeHistoryTag.entityId==-1 || activeHistoryTag.entityId == undefined"
                        [(ngModel)]="filterParameters.byId" [ngModelOptions]="{ standalone: true }"
                        (change)="filterMethodHistory()">
                        <label class="form-check-label" for="byIdCheckBox">Active entity</label>
                    </div>
                </li>
                <li>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" id="byImportantCheckBox"
                        [(ngModel)]="filterParameters.byImportant" [ngModelOptions]="{ standalone: true }"
                        (change)="filterMethodHistory()">
                        <label class="form-check-label" for="byImportantCheckBox">Only important</label>
                    </div>
                </li>             
                <li>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" id="byUndoneCheckBox"
                        [(ngModel)]="filterParameters.byUndone" [ngModelOptions]="{ standalone: true }"
                        (change)="filterMethodHistory()">
                        <label class="form-check-label" for="byUndoneCheckBox">Only undone</label>
                    </div>
                </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="cancelFilters()">Show all</a></li>
            </ul>
        </div>
    
        <button type="button"class="btn btn-outline-secondary" (click)="createNewMessage()">New message</button>
    </div>

    <div class="btn-toolbar" *ngIf="!isLoadFailing || isLoggedIn" >
        <div class="btn-group me-2" role="group" style="max-height: 35px;" >
          <input type="radio" class="btn-check"  autocomplete="off" checked>
          <label class="btn btn-outline-primary" (click)="showAllHistory()">
            All history</label>

          <input type="radio" class="btn-check"  autocomplete="off">
          <label class="btn btn-outline-primary"  (click)="showActiveClientHistory()"> 
            Active client</label>
        </div>
        <div class="btn-group" role="group"> 
            <button type="button" class="btn btn-outline-primary "
             (click)="createNewMessage()"
            >New message</button>
        </div>
    </div>

    <div class="separator" *ngIf="!isLoadFailing || isLoggedIn"></div>

    <section style="padding: 6px, 4px;" id="list" class="custom-scrollbar">
        <div  *ngFor="let message of filteredHistory" >
            <div class="label-action " style="margin: 8px;"
                (click)="editMessage(message)">
                <p style="margin: 0px; font-size: 13px;">{{message.messageText}}</p>
                <p style="margin: 0px; color: rgb(201, 95, 95);">{{message.deadline | date: 'shortDate'}}</p>
                <p style="margin: 0px; color: rgb(181, 181, 181); font-size: 11px;" >{{message.note}}</p>
                <div style="display: flex;">
                    <p *ngIf="message.isImportant" style="margin: 0px; color: rgb(201, 95, 95);">IMPORTANT</p>
                    <p *ngIf="message.isDone" style="margin: 0px 0px 0px 10px; color: rgb(128, 247, 128);">DONE</p>
                </div>
                <p style="margin: 0px; color: rgb(181, 181, 181);">{{message.dateOfCreation | date: 'medium'}}</p>
                <p style="margin: 0px; color: rgb(181, 181, 181);" class="separator" style="margin: 5px;"></p>
            </div>    
        </div>
    </section>
</div>