
<div class="general">
    <div class="logo-container" style="margin-bottom: 3px;">
        <button (click)="refreshHistory()" style="background-color: transparent; border: none;">
            <img src="assets\images\LOGO.png" width="30%" />
        </button>
        <p class="colorful-text" style="margin-top: 9px; margin-bottom: 3px;">alfanamestaj.rs</p>
    </div>
    <div class="separator"></div>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1" (click)="showAllHistory()">
        All history</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio3" (click)="showActiveClientHistory()"> 
        Active client</label>
    </div>

    <div *ngFor="let message of filteredHistory" style="padding: 6px, 4px;">
        <div class="label-action " style="margin: 10px;">
            <p style="margin: 0px;"><strong>{{message.messageText}}</strong></p>
            <p style="margin: 0px;">{{message.dateOfCreation | date: 'medium'}}</p>
            <p style="margin: 0px;">{{message.note}}</p>
            <p style="margin: 0px;" class="separator" style="margin: 5px;"></p>
        </div>    
    </div>
    <!-- <button type="button" (click)="showToast()">Show Toast</button> -->
</div>