 .general {
    background-color: #333;
    padding: 10px;
    height: 100%;
  }
  /*
  .side-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #454545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  /* Hover effect for buttons */
  .side-panel button:hover {
    background-color: #555;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .colorful-text {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    background-image: linear-gradient(45deg, #ff0055, #ff6600, #ffcc00, #33cc33, #0099ff, #6633ff, #cc33ff);
    background-size: 600% 600%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;
    animation: gradientAnimation 5s ease infinite;
    animation-direction: alternate;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Animation for the gradient */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .separator {
    border-top: 1px solid #ccc; 
    margin-bottom: 5px; 
  }
  
  /* Button styles */
  button {
    display: block;
    margin-bottom: 5px;
  }
  
  /* CSS to hide dropdown content */
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  /* CSS to show dropdown content when 'show' class is applied */
  .dropdown-content.show {
    max-height: 400px; 
    transition: max-height 0.5s ease-in;
  }
  .label-action{
    background-image: linear-gradient(45deg, #ff0055, #ff6600, #ffcc00, #33cc33, #0099ff, #6633ff, #cc33ff);
    background-size: 600% 600%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;
    font-family: 'Nova Square', sans-serif;
    font-size: 18px;
    font-weight: 60;
    letter-spacing: 2px;
  }
  .label-action label:hover{
    text-shadow: 0 0 7px #ffffff; 
    color: rgb(11, 7, 241);
    cursor: pointer;
  }
  