
<div class="general">
    <div class="logo-container" style="margin-bottom: 3px;">
        <img src="assets\images\LOGO.png" width="50%" />
        <p class="colorful-text" style="margin-top: 9px; margin-bottom: 3px;">alfanamestaj.rs</p>
    </div>
    <div class="separator"></div>
    <div class="label-action" style="margin: 5px;">
        <h5 (click)="toggleHistoryDropdown()">History</h5>
            <div  class="dropdown-content" [ngClass]="{ 'show': isDropdownHistoryVisible }">
                <ul *ngFor="let mess of history" style="font-size: 12px;">
                    <li>{{mess.messageText}}</li>
                    <li>{{mess.dateOfCreation}}</li>
                    <li>{{mess.note}}</li>
                    <li class="separator"></li>
                </ul>
            </div>
        <h5 (click)="toggleActionDropdown()">Actions</h5>
            <div class="dropdown-content" [ngClass]="{ 'show': isDropdownActionVisible }">
                <ul>

                    <li><label>LIDs</label></li>
                    <li><label>Clients</label></li>
                    <li><label>Orders</label></li>
                    <li><label>Providers</label></li>
                    <li><label>Partners</label></li>
                    <li><label>Cash</label></li>
                    <li><label>Statistics</label></li>
                    <li><label>Label 1</label></li>

                </ul>
            </div>
    </div>    
</div>