 .general {
    background-color: #333;
    padding: 10px;
    height: 100%;
  }
  .side-panel button:hover {
    background-color: #555;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .colorful-text {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    background-image: linear-gradient(45deg, #ff0055, #ff6600, #ffcc00, #33cc33, #0099ff, #6633ff, #cc33ff);
    background-size: 600% 600%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;
    animation: gradientAnimation 5s ease infinite;
    animation-direction: alternate;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .separator {
    border-top: 1px solid #ccc; 
    margin: 9px; 
  }
  
  button {
    display: block;
    margin-bottom: 5px;
  }

  .label-action{
    color: rgb(255, 255, 255);
    background-clip: text;
    font-family: 'Nova Square', sans-serif;
    font-size: 8px;
    font-weight: 80;
    letter-spacing: 2px;
  }
  .label-action:hover{
    text-shadow: 0 0 7px #0213fc; 
    color: rgb(208, 210, 252);
    cursor: pointer;
  }
  .custom-scrollbar {

    height: 70%;
    overflow-y: auto;
    scrollbar-track-color: #333; 
    scrollbar-thumb-color: #666; 
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-thumb-radius: 5px; /* Roundness of the thumb */
  }
  
  /* For Webkit browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #333; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #666; 
    border-radius: 5px;
  }