.custom-table {
    background-color: transparent; 
  }
  
  .custom-table thead th,
  .custom-table tbody td {
    background-color: transparent; 
    color: rgb(171, 212, 248);
    font-size: 20px;
  }