.custom-form{
    background-color: transparent;
    color: white;
}
label{
    font-size: 18px;
    color: rgb(204, 204, 204, 0.85);
}
.custom-input-area{
    background-color: transparent;
    color: rgb(204, 204, 204);
    font-size: 21px;
}