<div class="container" style="color: aliceblue;">

  <div style="display: flex;">
    <button type="button" class="btn btn-secondary" style="margin-left: 10px;" 
      [routerLinkActive]="'active-nav'"
      [routerLink]="'/user/user-lid'" aria-current="page" href="#">LIDs
    </button>
    <button type="button" class="btn btn-secondary" style="margin-left: 10px;"  
      [routerLinkActive]="'active-nav'"
      [routerLink]="'/user/user-lid'" aria-current="page" href="#">CLIENTs
    </button>
  </div>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
