<div>

  <div style="display: flex;">
    <button type="button" class="btn btn-secondary" style="margin-left: 10px;" 
      [routerLinkActive]="'active-nav'"
      [routerLink]="'/user/user-lid'" aria-current="page" href="#">LIDs
    </button>
    <button type="button" class="btn btn-secondary" style="margin-left: 10px;"  
      [routerLinkActive]="'active-nav'"
      [routerLink]="'/user/user-clients'" aria-current="page" href="#">CLIENTs
    </button>
  </div>


  <div *ngIf="isError == true" class="alert alert-danger" role="alert">{{errorMessage}}</div>

  <table class="table table-hover custom-table" style="color: aliceblue;">
    
    <thead> 
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>email</th>
            <th>phone</th>
            <th>Orders</th>
            <th>Actions</th>
            <th></th>
            <th></th>
        </tr>
    </thead>


    <tbody *ngIf="isLoaded == true">
        <tr *ngFor="let lid of lids" style="border-bottom: 1px rgb(2, 5, 75);">
            <td>{{lid.id}}</td>
            <td>{{lid.fullName}}</td>
            <td>{{lid.email}}</td>
            <td>{{lid.phoneNumber}}</td>
            <td>{{lid.numberOfOrders}}</td>
            <td class="clearfix">
                <a [routerLink]="'/user/user-lid-workplace'" 
                (click)="updateActiveLid(lid.id)"
                class="btn btn-outline-info">Go to LID</a>
                
                <button (click)="deleteLid(lid.id)" type="button" 
                class="btn btn-outline-danger" style="margin-left: 5px;">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>

  <button [routerLink]="'/user/user-add-lid'" 
   type="button" class="btn btn-outline-primary">Add LID</button>

  <!-- <div class="container">
    <ul>
      <li *ngFor="let lid of lids">
        <p>ID: {{ lid.id }}</p>
        <p>Name: {{ lid.name }}</p>
        <p>Surname: {{ lid.surname }}</p>
        <p>Email: {{ lid.email }}</p>
      </li>
    </ul>
  </div> -->
</div>



    <!-- <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> -->

    <!-- Wiersze -->

    <!-- [ngClass]="{'table-primary' : student.id==2,
    'table-warning' : student.id > 7,
    'table-danger' : student.name == 'Patricia Lebsack'}" -->

                <!-- <td><a *ngIf="student.id>5" href="#mailto:o2@pl">{{student.email | lowercase}}</a></td>
            <td>
                <a [routerLink]="'/detail-student/' + student.id" class="btn btn-outline-primary margin-button">Details</a>
                <a [routerLink]="'/edit-student/' + student.id" class="btn btn-outline-info margin-button">Edycja</a>
                <button (click)="deleteLid(student.id)" type="button" class="btn btn-outline-danger margin-button">Delete</button>
            </td> -->