<nav class="navbar navbar-expand navbar-dark bg-dark" style="height: 60px;">

    <div class="logo-container" style="margin: 15px 0px;" >
      <button style="background-color: transparent; border: none;"
      [routerLinkActive]="'active-nav'"
      [routerLink]="'/home'">
          <img src="assets\images\LOGO.png" width="40px" />
      </button>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a (click)="login()" class="nav-link" routerLink="login">Login</a>
      </li>
 
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Action
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/user-board/leads'"
            class="dropdown-item" href="#">LEADs</a></li>
          <li><a
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/user-board/clients'"
            class="dropdown-item" href="#">Clients</a></li>
          <li><a class="dropdown-item" href="#">Orders</a></li>
          <li><a class="dropdown-item" href="#">Cash</a></li>

          <li><hr class="dropdown-divider"></li>
          <li *ngIf="showModeratorBoard">
            <a 
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/mod'"
            class="dropdown-item" routerLink="mod">Moderator mode</a>
          </li>
          <li *ngIf="showAdminBoard">
            <a       
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/admin'"
             class="dropdown-item" routerLink="admin">Admin mode</a>
          </li>

          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Providers</a></li>
          <li><a class="dropdown-item" href="#">Statistics</a></li>

        </ul>
      </li>
    </ul>

    <div class="navbar-nav ml-auto container" *ngIf="isLoggedIn">
      <div class="nav-item">
        <img src="assets\images\profile-icon.png" alt="Profile" width="40px" routerLink="profile"/>
      </div>
      <div class="nav-item">
        <img src="assets\images\log-out.png" alt="Log out" width="40px" (click)="logout()"/>
      </div>
    </div>
  </nav>
