<nav class="navbar navbar-expand navbar-dark bg-dark" style="height: 70px;">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLoggedIn" routerLink="login">
        <a class="nav-link" (click)="login()">Login</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a  class="nav-link" 
        [routerLinkActive]="'active-nav'"
        [routerLink]="'/home'"
        >Home</a>
      </li>
 
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Action
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/user-board/leads'"
            class="dropdown-item" href="#">LEADs</a></li>
          <li><a
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/user-board/clients'"
            class="dropdown-item" href="#">Clients</a></li>

          <li><hr class="dropdown-divider"></li>
          <li *ngIf="showAdminBoard">
            <a       
            [routerLinkActive]="'active-nav'"
            [routerLink]="'/admin/users'"
             class="dropdown-item" routerLink="admin">Admin mode</a>
          </li>

          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" >Cash</a></li>
          <li><a class="dropdown-item" >Providers</a></li>
          <li><a class="dropdown-item" >Statistics</a></li>

        </ul>
      </li>
    </ul>

    <div class="navbar-nav ml-auto container" *ngIf="isLoggedIn">
      <div class="nav-item">
        <img src="assets\images\profile-icon.png" alt="Profile" width="50px" routerLink="profile" 
        style="cursor: pointer;"/>
      </div>
      <div class="nav-item">
        <img src="assets\images\log-out.png" alt="Log out" width="50px" (click)="logout()"
        style="cursor: pointer;"/>
      </div>
    </div>
  </nav>
