@storybook:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@xy:registry=https://xyz.jfrog.io/xyz/api/npm/npm-local/ @xy-app:registry=https://xyz.jfrog.io/xyz/api/npm/npm-local/

