.jumbotron {
    animation: pulse 5s infinite;
    animation-direction: alternate
  }
  
  @keyframes pulse {
    0% {
      background-color: #91bfee;
    }
    100% {
      background-color: #36ffb2;
    }
  }

  html,
body {
  height: 100%;
}