
<div *ngIf="isLoggedIn" style="margin-top: 10px;">
  <div class="w3-row" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="w3-col m4 l4">
      <button [disabled]="!isUserRole" (click)="setTagForClient()"
        [routerLinkActive]="'active-nav'"
        [routerLink]="'/user-board/leads'"
        type="button" class="btn btn-outline-secondary custom-size">Leads</button>
    </div>
    <div class="w3-col m4 l4">
      <button  [disabled]="!isUserRole" (click)="setTagForClient()"
        [routerLinkActive]="'active-nav'"
        [routerLink]="'/user-board/clients'"
        type="button" class="btn btn-outline-secondary custom-size">Clients</button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size" 
        disabled>
        Providers
      </button>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size" disabled>
        Cash
      </button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size" 
      disabled>
      Statistic
    </button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size"
        [routerLinkActive]="'active-nav'"
        [routerLink]="'/admin/users'"
        [disabled]="!isAdminRole" (click)="setTagForAdministration()"
        >Administration
      </button>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>


