<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->
<div >
  <div class="w3-row" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size">LIDs</button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size">Clients</button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size">Providers</button>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size">Cash</button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size">Statistic</button>
    </div>
    <div class="w3-col m4 l4">
      <button type="button" class="btn btn-outline-secondary custom-size">Administration</button>
    </div>
  </div>
</div>

