<div>

    <div style="display: flex;">
      <button type="button" class="btn btn-secondary" style="margin-left: 10px;" 
        [routerLinkActive]="'active-nav'"
        [routerLink]="'/board-user/leads'" aria-current="page">LIDs
      </button>
      <button type="button" class="btn btn-secondary" style="margin-left: 10px;"  
        [routerLinkActive]="'active-nav'"
        [routerLink] ="'/board-user/user-clients'" aria-current="page">CLIENTs
      </button>
    </div>
  
  
    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <div *ngIf="isSuccessDelete" class="alert alert-success" role="alert">
      Client is deleted
    </div>
  
    <table class="table table-hover custom-table" style="color: aliceblue;">
      
      <thead> 
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>email</th>
              <th>phone</th>
              <th>Orders</th>
              <th>Actions</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
  
  
      <tbody *ngIf="isSuccessLoad == true">
          <tr *ngFor="let lead of leads" style="border-bottom: 1px rgb(2, 5, 75);">
              <td>{{lead.id}}</td>
              <td>{{lead.fullName}}</td>
              <td>{{lead.email}}</td>
              <td>{{lead.phoneNumber}}</td>
              <td>{{lead.numberOfOrders}}</td>
              <td class="clearfix">
                  <a [routerLink]="'/board-user/user-lid-workplace'" 
                  (click)="updateActiveClient(lead.id)"
                  class="btn btn-outline-info">Go to LID</a>
                  
                  <button (click)="sentClientToBlackList(lead.id)" type="button" 
                  class="btn btn-outline-danger" style="margin-left: 5px;">To black list</button>
              </td>
          </tr>
      </tbody>
    </table>
  
    <button [routerLink]="'/user/user-add-lid'" 
     type="button" class="btn btn-outline-primary">Add LID</button>
  </div>