<h2 mat-dialog-title>Create history note</h2>
<mat-dialog-content>
  <form (submit)="sentEmail()">
    <div class="mb-3">
        <label for="subject-of-email-input" class="form-label">Subject</label>
        <input type="text" class="form-control custom-input-area" 
          id="subject-of-email-input" name="subjectOfMAil"
          [(ngModel)]="form.subjectOfMAil" 
          #subjectOfMAil="ngModel"
        >
    </div>
    <div class="mb-3">
      <label for="text-of-email-input" class="form-label">Text</label>
      <textarea type="text" class="form-control custom-textarea custom-input-area" 
        id="text-of-email-input" rows="10" 
        [(ngModel)]="form.textOfEmail" #textOfEmail="ngModel"
        name="textOfEmail">
      </textarea>
    </div>

    <button type="submit" style="margin: 5px 15px;" class="btn btn-primary"
      [disabled]="isRequestInProcess">
      Submit
    </button>
  </form>

  
  <footer>
    <div *ngIf="isSuccessRequest" class="alert alert-success" role="alert">
      Email is sent!
    </div>
    <div *ngIf="isFailedRequest" class="alert alert-danger" role="alert">
      Sorry, we were unable to sent your message. Try contacting support, they sometimes respond.
    </div>
  </footer>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>