<mat-dialog-content>

    <div *ngIf="!isPaid && !isFailed && !isSuccess" >
        <button type="button" class="btn btn-success"
        style="width: 235px; height: 55px; font-size: 30px;"
        (click)="confirmPayment()"
        >Confirm payment</button>
    </div>
    <div *ngIf="isPaid && !isFailed && !isSuccess" class="d-grid gap-2 col-6 mx-auto">
        <h2>The order has been paid. Do you want to cancel it?</h2>
        <button type="button" class="btn btn-outline-warning"
        (click)="cancelPayment()"
        >Cancel the payment</button>
    </div>
    <div *ngIf="isFailed" class="d-grid gap-2 col-6 mx-auto alert alert-danger" >
        <h2 style="color: darkblue">Error sending data to server</h2>
    </div>
    <div *ngIf="isSuccess" class="d-grid gap-2 col-6 mx-auto alert alert-info" >
        <h2 style="color: darkblue">{{successMessage}}</h2>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div style="display: flex;">
        <button *ngIf="!isSuccess" mat-button mat-dialog-close>Close without save</button>
    </div>
</mat-dialog-actions>