.to-side-container {
    display: flex;
  }
  
  .left-column {
    flex: 3; 
    background-color: lightblue; 
    padding: 20px;
  }
  
  .right-column {
    flex: 2; 
    background-color: lightgreen; 
    padding: 20px;
  }
  .custom-size {
    max-width: 200px;
    max-height: 200px;
  }