<div class="container to-side-container" *ngIf="currentUser; else loggedOut">
  <div class="left-column">

    <header class="jumbotron">
      <h3>
         My Profile
      </h3>
    </header>

    <h4>Name: 
      {{ currentUser.username }}
    </h4>
    
    <p>
      Email:
      {{ currentUser.email }}
    </p>

    <strong>My roles:</strong>
    
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>

  <div class="right-column">
    <div *ngIf="!userPhoto">
      <img src="assets/images/anonim.jpg" class=" img-thumbnail custom-size">
    </div>
    <div *ngIf="userPhoto">
      <img [src]="getImageUrl()" class="img-thumbnail custom-size">
    </div>

    <input type="file" (change)="onFileSelected($event)">
    <button (click)="uploadImage()">Upload Image</button>
    
    <p>{{statusMessage}}</p>
  </div>

</div>


<ng-template #loggedOut>
  Please login.
</ng-template>

<div class="container">
  <router-outlet></router-outlet>
</div>