

<div class="d-inline-flex gap-1">
  <p>Create reminder</p>
  <p style="margin-left: 10px">Edit data</p>
</div>

  <div class="container">
    <ul>
        <li>ID: {{ lid?.id }}</li>
        <li>Name: {{ lid?.fullName }}</li>
        <li>Email: {{ lid?.email }}</li>
        <li>Phone: {{ lid?.phoneNumber }}</li>  
      </ul>
  </div>

  <h2>Orders</h2>

  <table *ngIf="lid && lid.orders && lid.orders.length > 0" 
    class="table table-striped table-hover">
    
    <thead>
        <tr>
            <th>thing</th>
            <th>price</th>
            <th></th>
        </tr>
    </thead>


    <tbody >
        <tr *ngFor="let order of lid.orders">
            <td>{{order.thing}}</td>
            <td>{{order.price}}</td>
            <td>
            </td>
        </tr>
    </tbody>
  </table>


