<h2 mat-dialog-title>Items for order</h2>
<mat-dialog-content>
    <table class="table table-hover custom-input-form" style="color: aliceblue;">

        <thead> 
            <tr class="custom-input-form">
                <th  class="custom-input-form">Thing</th>
                <th  class="custom-input-form">Quantity</th>
                <th class="custom-input-form">Unit price</th>
                <th  class="custom-input-form">Total price</th>
            </tr>
        </thead>    

        <tbody>
            <tr *ngFor="let item of items" style="border-bottom: 1px rgb(2, 5, 75);" >
                <td class="custom-input-form" [class.wrong-input]="isEmptyThing(item.thing || '')"
                 style="width: 410px;">
                    <input class="form-control custom-input-form" type="text"
                    [value]="item.thing" [(ngModel)]="item.thing">
                </td>
                <td class="custom-input-form" style="width: 90px;"> 
                    <input class="form-control custom-input-form" [class.wrong-input]="!isPositiveInteger(item.quantity || 0)"
                    [value]="item.quantity" [(ngModel)]="item.quantity"
                    type="number"
                    (change)="calcilateTotalPriceForItem(item)">
                </td>
                <td class="custom-input-form" [class.wrong-input]="isNegativeNumber(item.unitPrice || 0)"
                style="width: 90px;">
                    <input class="form-control custom-input-form" 
                    [value]="item.unitPrice" [(ngModel)]="item.unitPrice" 
                    type="number" 
                    (change)="calcilateTotalPriceForItem(item)">
                </td>
                <td class="custom-input-form" style="width: 90px;">
                    <input class="form-control custom-input-form" type="text"
                    [value]="item.totalPrice" [(ngModel)]="item.totalPrice" disabled>
                </td>
            </tr>
        </tbody>
      </table>
      <section class="grid-container">
        <button type="button" class="btn btn-outline-light" style="grid-area: button;" 
        (click)="addItem()">Add item</button>
        <label style="grid-area: label;">Result: </label>
        <label style="grid-area: sum;">{{resultPrice}}</label>
      </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
