<div>

    <div style="display: flex;">
        <button type="button" class="btn btn-secondary" style="margin-left: 10px;" 
          [routerLinkActive]="'active-nav'"
          [routerLink]="'/board-user/user-lid'" aria-current="page" href="#">LIDs
        </button>
        <button type="button" class="btn btn-secondary" style="margin-left: 10px;"  
          [routerLinkActive]="'active-nav'"
          [routerLink]="'/board-user/clients'" aria-current="page" href="#">CLIENTs
        </button>
      </div>

    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <div *ngIf="isSuccessDelete" class="alert alert-success" role="alert">
      Client is deleted
    </div>
  
    <table class="table table-hover custom-table" style="color: aliceblue;">
      
      <thead> 
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>email</th>
              <th>phone</th>
              <th>Orders</th>
              <th>Actions</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
  
  
      <tbody *ngIf="isSuccessLoad == true">
          <tr *ngFor="let client of clients" style="border-bottom: 1px rgb(2, 5, 75);">
              <td>{{client.id}}</td>
              <td>{{client.fullName}}</td>
              <td>{{client.email}}</td>
              <td>{{client.phoneNumber}}</td>
              <td>{{client.orders.length}}</td>
              <td>
                  <button [disabled]="isRequestSent" [routerLink]="'/board-user/user-lid-workplace'" 
                  (click)="updateActiveClient(client.id)" class="btn btn-outline-info">Go to Client</button>
                  
                  <button (click)="sentClientToBlackList(client.id)" type="button" 
                  class="btn btn-outline-danger" style="margin-left: 5px;">
                  <span *ngIf="isRequestSent" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                  <span role="status">To black list</span>  
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
  
    <button [routerLink]="'/user/user-add-lid'" 
     type="button" class="btn btn-outline-primary">Add LEAD</button>
  
  </div>
  
  
