<div>

  <div class="d-flex justify-content-between align-items-center gap-1">
    <div style="display: flex;">
        <button type="button" class="btn btn-secondary" 
          style="margin-left: 10px;" id="go-to-list-of-leads"
          [disabled]="isRequestSent"
          [routerLinkActive]="'active-nav'"
          [routerLink]="'/user-board/leads'" aria-current="page" >
          LEADs
        </button>
        <button disabled="true" type="button" class="btn btn-secondary" 
          style="margin-left: 10px;" id="go-to-list-of-clients" 
          [routerLinkActive]="'active-nav'"
          [routerLink]="'/user-board/clients'" aria-current="page" >
          CLIENTs
        </button>
    </div>
    <button  type="button" class="btn btn-secondary" style="margin-left: 10px;" 
      [disabled]="isRequestSent" 
      [routerLinkActive]="'active-nav'" id="go-to-black-list"
      [routerLink]="'/user-board/blacklist-clients'" aria-current="page" >
      Blacklist
  </button>
</div>

    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  
    <table class="table table-hover custom-table" style="color: aliceblue;">
      
      <thead> 
          <tr>
              <th>Name</th>
              <th>email</th>
              <th>phone</th>
              <th>Orders</th>
              <th>Paid orders</th>
          </tr>
      </thead>
   
  
      <tbody *ngIf="isSuccessLoad == true">
          <tr *ngFor="let client of clients" style="border-bottom: 1px rgb(2, 5, 75); cursor: pointer;"
          (click)="goToClientDetail(client.clientId || -1)" >

              <td>{{client.fullName}}</td>
              <td>{{client.email}}</td>
              <td>{{client.phoneNumber}}</td>
              <td>{{client.numberOfOrders}}</td>
              <td>{{client.numberOfPaidOrders}}</td>
          </tr>
      </tbody>
    </table>
  
    <button [routerLink]="'/user-board/add-lead'" id="addLeadButton"
     type="button" class="btn btn-outline-primary">Add LEAD</button>
  
  </div>
  
  
