<div>

    <div style="display: flex;">
        <button type="button" class="btn btn-secondary" style="margin-left: 10px;" 
          [routerLinkActive]="'active-nav'"
          [routerLink]="'/user-board/leads'" aria-current="page" >LIDs
        </button>
        <button disabled="true" type="button" class="btn btn-secondary" style="margin-left: 10px;"  
          [routerLinkActive]="'active-nav'"
          [routerLink]="'/user-board/clients'" aria-current="page" >CLIENTs
        </button>
    </div>

    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  
    <table class="table table-hover custom-table" style="color: aliceblue;">
      
      <thead> 
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>email</th>
              <th>phone</th>
              <th>Orders</th>
          </tr>
      </thead>
  
  
      <tbody *ngIf="isSuccessLoad == true">
          <tr *ngFor="let client of clients" style="border-bottom: 1px rgb(2, 5, 75); cursor: pointer;"
          (click)="goToClientDetail(client.id || -1)" >
              <td>{{client.id}}</td>
              <td>{{client.fullName}}</td>
              <td>{{client.email}}</td>
              <td>{{client.phoneNumber}}</td>
              <td>{{(client.orders) ? client.orders.length : 0}}</td>
          </tr>
      </tbody>
    </table>
  
    <button [routerLink]="'/user-board/add-lead'" 
     type="button" class="btn btn-outline-primary">Add LEAD</button>
  
  </div>
  
  
