<mat-dialog-content>
    <div *ngIf="!isDeleted" class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-info"
        (click)="editMessage()" [disabled]="isProcess"
        >Edit message
        </button>

        <button type="button" class="btn btn-info"
        (click)="changeDoneStatus()" [disabled]="isProcess">
        {{message?.isDone ? 'Сancel as done' : 'Mark as done'}}
        </button>

        <button type="button" class="btn btn-info"
        (click)="changeImportantStatus()" [disabled]="isProcess">
        {{message?.isImportant ? 'Сancel as important' : 'Mark as imporant'}}
        </button>

        <button type="button" class="btn btn-outline-dark"
        (click)="deleteMessage()" [disabled]="isProcess">
        Delete message
        </button>
    </div>
    <div *ngIf="isSuccess" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>
      <div *ngIf="isFailed" class="alert alert-danger" role="alert">
        Sorry, we were unable to save changes. Try contacting support, they sometimes respond.
      </div>
      <div *ngIf="isDeleted" class="alert alert-dark" role="alert">
        The message is deleted ❕
      </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>