
<form  (submit)="save(name, address, email, phoneNumber)" class="custom-form">

  <div >
    <label for="exampleInputName" class="w3-input" style="margin-top: 8px;">Name</label>
    <input class="w3-input" required type="text" id="disabledTextInput"  placeholder="Enter name" #name>
  </div>

  <div>
    <label class="w3-input" style="margin-top: 8px;">Address</label>
    <input class="w3-input" required type="text" id="disabledTextInput" placeholder="Enter address" #address>
  </div>

  <div>
    <label class="w3-input" style="margin-top: 8px;">Email address</label>
    <input input class="w3-input" required type="email" id="disabledTextInput" placeholder="name@example.com" #email>
  </div>
  <p style="margin-bottom: 0px;" id="emailHelp" class="form-text">We'll never share your email with anyone else.</p>

  <div>
    <label class="w3-input" style="margin-top: 0px;">Phone number</label>
    <input class="w3-input" required type="text" id="disabledTextInput" placeholder="Enter phone number" #phoneNumber>
  </div>

  <button [disabled]="isAdded" type="submit" class="btn btn-primary" style="margin-top: 8px;">Submit</button>
</form>

<div *ngIf="isError" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<div *ngIf="isAdded" class="alert alert-info" role="alert">
  New LEAD is added
</div>
