

  <button type="button" class="btn btn-outline-warning floating-buttons" >Create reminder</button>
  <button type="button" class="btn btn-outline-warning floating-buttons" 
  style="bottom: 51px;">New order</button>


<div class="row g-2 field-margin">
  <div class="col-auto field-description" >
    <label class="col-form-label ">Full name</label>
  </div>
  <div class="col-auto">
    <input class="form-control field-design" type="text" 
    [(ngModel)]="client.fullName" [ngModelOptions]="{ standalone: true }"
    [disabled]="!(canEdit)" [readOnly]="!(canEdit)">
  </div>
</div>

<div class="row g-2  field-margin">
  <div class="col-auto field-description">
    <label class="col-form-label">Email </label>
  </div>
  <div class="col-auto">
    <input class="form-control field-design" type="text" 
    [(ngModel)]="client.email" [ngModelOptions]="{ standalone: true }"
    [disabled]="!(canEdit)" [readOnly]="!(canEdit)">
  </div>  
</div>

<div class="row g-2 field-margin">
  <div class="col-auto field-description">
    <label class="col-form-label">Phone number</label>
  </div>
  <div class="col-auto">
      <input class="form-control field-design" type="text" 
      [(ngModel)]="client.phoneNumber" [ngModelOptions]="{ standalone: true }"
      [disabled]="!(canEdit)" [readOnly]="!(canEdit)">
  </div>
</div>

<div class="row g-2 field-margin">
  <div class="col-auto field-description">
    <label class="col-form-label">Address</label>
  </div>
  <div class="col-auto">
      <input class="form-control field-design" type="text" 
      [(ngModel)]="client.address" [ngModelOptions]="{ standalone: true }"
      [disabled]="!(canEdit)" [readOnly]="!(canEdit)">
  </div>
</div>

<div class="row g-3 field-margin" style="margin-left: 0x;">
  <div class="col-auto field-description">
    <label class="col-form-label">Number of orders</label>
  </div>
  <div class="col-auto">
      <input class="form-control field-design" type="text"style="margin-left: -4px;"
      value="{{calculateNumberOfOrdders()}}"
      disabled readonly>
  </div>
</div>

<footer class="d-inline-flex gap-1">
  <button type="button" class="btn btn-outline-success" style="margin-left: 15px;" 
  (click)="changeEditably()">Edit data</button>
  <button type="button" class="btn btn-outline-success" style="margin-left: 15px;" 
  (click)="editClientData()">Save</button>
</footer>

<div *ngIf="isResultOfSavedShown" class="alert alert-dark" role="alert">
  {{serverAnswer}}
</div>

<div class="separator" style="margin: 15px;"></div>

<h2>Orders</h2>
  
<section *ngFor="let order of client?.orders" class="order-container">
    
    <div class="progress text-bg-dark" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-primary" [style.width]="calculateOrderProgress(order)">
          {{calculateOrderProgress(order)}}</div>
        </div> 

    <h4>Real need: {{order.realNeed}}</h4>
    <div style="display: flex; ">
        <div style="width: 50%;">
            <p style="margin: 0;">Estimate budhet: {{order.estimateBudged}}</p>
            <p style="margin: 0;">Data of creation: {{order.dateOfCreation}}</p>
            <p style="margin: 0;">Address: {{order.address}}</p>
            <p style="margin: 0;">Result price {{order.resultPrice}}</p>
        </div>
        <aside class="horizontal-checkboxes " 
        style="color: rgb(215, 216, 212); font-weight: 65px; justify-items: end;">

          <div class="align-top " style="width: 90px;">
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Application
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                disabled>
            </label>
          </div>

          <div class="align-top check-box-margin" >
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Project is shown
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                [checked]="order.isProjectShown != 'NOT_SHOWN'"  disabled>
            </label>
          </div>

          <div class="align-top check-box-margin" >
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Calculation is promised
                <input class="form-check-input align-top" type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                [checked]="order.isCalculationPromised" disabled>
            </label>
          </div>

          <div class="align-top check-box-margin" >
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Calculation is shown
                <input class="form-check-input align-top" type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                [checked]="order.isCalculationShown != 'NOT_SHOWN'" disabled>
            </label>
          </div>

          <div class="align-top check-box-margin">
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Meeting in office
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                [checked]="order.wasMeetingInOffice" disabled>
            </label>
          </div>

          <div class="align-top check-box-margin">
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Measurement is offered 
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked"
                [checked]="order.measurementOffered" disabled>
            </label>
          </div>

          <div class="align-top check-box-margin">
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Measurement is taken
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked"
                [checked]="order.measurementsTaken" disabled>
            </label>
          </div>

          <div class="align-top check-box-margin">
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Project is approved
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked"
                [checked]="order.isProjectApproved" disabled>
            </label>
          </div>

          <div class="align-top check-box-margin">
            <label class=" vertical-text  form-switch align-top" for="flexSwitchCheckChecked">
                Agreement has prepared
                <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckChecked"
                [checked]="order.hasAgreementPrepared" disabled>
            </label>
          </div> 
 
        </aside>
    </div>
    <div *ngIf="order.hasBeenPaid" class="paid-container">
      <h1 id="paid-label">PAID</h1>
    </div>
</section>

<button [disabled]="isRequestSent" (click)="sentClientToBlackList()" type="button" 
class="btn btn-outline-danger" style="margin-left: 5px;">
  <span *ngIf="isRequestSent" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
  <span role="status">To black list</span>  
</button>
  
  
  